<!DOCTYPE html>
<html ng-app="customersApp">
<head>
	<title>Customer App</title>
	<link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body ng-controller="CustomersController">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
				<h3>Restful CRUD App Example</h3>
				<p>
					To Add a new customer: Fill up the form and click "Add". </br>
					To Update a customer: Fill up the name of the customer you what to edit and supply the other fields then click "Update". If the name does not exist, an error would occur. </br>
					To Delete a customer: Fill up the name of the customer you what to delete then click "Delete". If the name does not exist, an error would also occur. </br>
					</br>
					List of current users are on the right. </br> 
				    The app is responsive and when viewed on smaller devices, the table will automatically go the bottom. </br>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<form>
					<div class="form-group">
						<label for="name">Name</label> 
						<input type="text" class="form-control" id="name" ng-model="customer.name">
					</div>
					<div class="form-group">
						<label for="address">Address</label>
						<input type="text" class="form-control" id="Address" ng-model="customer.address">
					</div>
					<div class="form-group">
						<label for="telephoneNumber">Telephone Number</label>
						<input type="text" class="form-control" id="telephoneNumber" ng-model="customer.telephoneNumber">
					</div>
					<button class="btn btn-default" data-ng-click="addCustomer(customer);">Add</button>
					<button class="btn btn-default" data-ng-click="updateCustomer(customer);">Edit</button>
					<button class="btn btn-default" data-ng-click="deleteCustomer(customer);">Delete</button>
				</form>
			</div>
			<div class="col-md-6">
				<label for="customersTable">List of Customers</label> 
				<table class="table table-striped" id="customersTable">
  					<thead>
  						<tr>
  							<th>Name</th>
  							<th>Address</th>
  							<th>Telephone Address</th>
  						</tr>
  					</thead>
  					<tbody>
  						<tr data-ng-repeat="customer in customers">
  							<td>{{customer.name}}</td>
  							<td>{{customer.address}}</td>
  							<td>{{customer.telephoneNumber}}</td>
  						</tr>
  					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js"></script>
	<script>
		var app = angular.module('customersApp',[]);
		app.controller('CustomersController', function($scope, $http){
			$scope.customer = {};
			$scope.customers = [];
			
			getAllCustomers();
			
			function getAllCustomers() {
				$http.get('api/v1/customer').success(function(response){
				     $scope.customers = response;
				}).error(function(err, status, headers, config){
					// do something
				});
			};
			
			$scope.addCustomer = function(customer){
				$http.post('api/v1/customer', customer).success(function(response){
					getAllCustomers();
				}).error(function(err, status, headers, config){
					// do something
				});
			};
			
			$scope.updateCustomer = function(customer){
				$http.put('api/v1/customer/' + customer.name, customer).success(function(response){
					getAllCustomers();
				}).error(function(err, status, headers, config){
				   	if (status == 404) {
				   		alert("Customer name not found.");
				   	}  
				});
			};
			
			$scope.deleteCustomer = function(customer){
				$http.delete('api/v1/customer/' + customer.name).success(function(response){
					getAllCustomers();
				}).error(function(err, status, headers, config){
					// do something
					if (status == 404) {
				   		alert("Customer name not found.");
				   	}  
				});
			};
		});
	</script>
</body>
</html>